services:
  - type: web
    name: hackgpt
    env: docker
    plan: free
    repo: https://github.com/Stiphan680/hackGPT.git
    branch: main
    dockerfilePath: ./Dockerfile
    ports:
      - port: 8501
        protocol: HTTP
    envVars:
      - key: OPENAI_API_KEY
        scope: runtime
        sync: false
      - key: JIRA_SERVER
        scope: runtime
        sync: false
      - key: JIRA_USER
        scope: runtime
        sync: false
      - key: JIRA_TOKEN
        scope: runtime
        sync: false
    autoDeploy: true
    disk:
      name: hackgpt-data
      mountPath: /app
      sizeGB: 1
